body {
background: #c5c5c5;
font-family: system-ui;
}


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  /*background: #0082e6;*/
  height: 50px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 10px;
}
nav ul li{
  display: inline-block;
  line-height: 47px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 0px;
  text-transform: system-ui;

}

nav ul li .gau a{
  color: white;
  font-size: 15px;
  /*padding: 7px 10px;*/
  border-radius: 0px;
  text-transform: system-ui;
  position: absolute;
  top: 0%;
  left:6.5%;
  background: red;
}

nav ul li .dro a{
  color: white;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 0px;
  text-transform: system-ui;
  position: absolute;
  top: 0%;
  right:6.5%;
  background: red;
}

a.active,a:hover{
  background: transparent;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 47px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
 nav ul li .gau a{
    font-size: 16px;
position: absolute;
  top: 0%;
  left:0%;
  }
nav ul li .dro a{
    font-size: 16px;
position: absolute;
  top: 10%;
  right: 74.8%;
  }
 nav {
background: #0082e6;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    height: 32vh;
    background: #2c3e50;
    top: 50px;
    left: -100%;
    text-align: left;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li .gau{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
nav ul li .dro{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
nav ul li .gau a{
    font-size: 20px;
  }
nav ul li .dro a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
